$--colors: (
  'primary': (
    'base': #304281,
  ),
  'success': (
    'base': #21ba45,
  ),
  'warning': (
    'base': #f2711c,
  ),
  'danger': (
    'base': #db2828,
  ),
  'error': (
    'base': #db2828,
  ),
  'info': (
    'base': #42b8dd,
  ),
);

// You should use them in scss, because we calculate it by sass.
// comment next lines to use default color
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  // do not use same name, it will override.
  $colors: $--colors,
  $table: ('header-background-color': #fafafa),
  $dialog: ('padding-primary': 15px)
);

// You can comment it to hide debug info.
// @debug $--colors;
@use 'element-plus/theme-chalk/src/message.scss';
@use 'element-plus/theme-chalk/src/message-box.scss';
@use 'element-plus/theme-chalk/src/notification.scss';
